<h6 class="search_window_post">検索結果</h6>
<table class='table table-hover table-inverse table-bordered'>
  <thead class="table-info">
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= search_post_count %></td>
    </tr>
  </tbody>
</table>