@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.fav_icon_create{
  color: #1e90ff;
}

.fav_icon_destroy{
  color: #dc143c;
}

.graph_title{
  text-align: center;
}

.search_window_post{
  margin: 10px
}

.err_area {
    border: solid 3px;
    border-color: #dc143c;
    padding: 0;
    margin: 10px;
}

.err_title {
    color: white;
    font-size: 12px;
    background-color: #dc143c;
    border: none;
    margin: 0;
}

.err_mes_area {
    background-color: white;
}